.send-message {
  width: 55px;
  height: 55px;

  background-color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 10px;
  top: 10px;

  transition: all 0.2s linear;
}

.send-message img {
  width: 60%;
  height: 60%;
  cursor: pointer;
}

.send-message:hover  {
  transform: scale(1.05);
}