.bar {
  width: 80%;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-bottom: 35px;
  position: relative;
}

.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.searchbar {
  height: 45px;
  border: none;
  font-size: 16px;
  outline: none;
}

