#header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #F9F0E7;
  color: black;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

#header > nav  {
  display: flex;
}

#header > nav > ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 120px;
  padding: 0;
}

#title {
  font-family: 'Italiana', serif;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 800;
}

#title > span {
  color: #2B6D4A;
  text-transform: lowercase;
}

#header > nav > ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase
}

#header > nav > ul li img {
  cursor: pointer;
  width: 50px;
}

#header #logout {
  cursor: pointer;
  width: 50px;
  position: absolute;
  right: 20px;
}



