#header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #F9F0E7;
  color: black;
}

#header > nav  {
  display: flex;
  width: 100%;
  padding: 0 7vw;
}

#header > nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  padding: 0;
}

#header > nav > ul li:first-child {
  font-family: 'Italiana', serif;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 800;
}

#header > nav > ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase
}
