#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-container {
 display: flex;
 flex-direction: column;
 width: 90%;
 position: relative;
 z-index: 0; 
}

#post-container:last-child {
    margin-bottom: 85px;
}

.green-h1 {
    color: white;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: rgb(2, 98, 2);
}
